
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GreenSnaps</title>
        <link rel="stylesheet" href="/public/css/style.css">
    </head>
    
    <body>
        <h1>Welcome to GreenSnaps!</h1>
        <p>Your Green Oasis in the Digital World!</p>
 

        <img src="{{image.name}}" alt="">
        <!-- END: random-image-feed -->

        <!-- Include the index.js file -->
        <script src="/./public/js/index.js"></script>
    </body>
</html>
