
<!DOCTYPE html>
<html>
    <head>
        <title>GreenSnaps</title>
    </head>
    <body>
        <h1>Welcome to GreenSnaps!</h1>
        <p>Your Green Oasis in the Digital World!</p>
        <p>In a world that's more connected than ever, where social media platforms bring people together from all corners of the globe, 
            there's a thriving community waiting to blossom. Welcome to PlantGram, the app designed exclusively for the nature enthusiasts, the garden gurus, 
            and the plant parents who turn their homes into thriving botanical wonderlands.

        GreenSnaps is not just another social network; it's a lush paradise dedicated to the green thumb in all of us. 
        Whether you're a seasoned horticulturalist or a budding plant lover, this app is your passport to a vibrant community where the language of 
        leaves and blooms is understood and celebrated.</p>


        <img src="../public/images/Brock_Plant.JPG" alt="Picture of Brocks coool plant!">


        <!-- This is the login widget -->
        <div id="login-widget">
            <form>
                <label for="username">Email:</label>
                <input type="text" id="username" name="Email"><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>

        <!-- Include the index.js file -->
        <script src="/./public/js/index.js"></script>
    </body>
</html>
