
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/css/style.css">
    </head>
    
    <body>
        <h1>{{header}}</h1>
        <p>{{subheader}}</p>
        <p>{{description}}</p>

        <img src="../public/images/Brock_Plant.JPG" alt="Picture of Brocks coool plant!">

        <!-- This is the login widget -->
        <div id="login-widget">
            <form>
                <label for="username">Email:</label>
                <input type="text" id="username" name="Email"><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>

        <!-- Include the index.js file -->
        <script src="/./public/js/login.js"></script>
    </body>
</html>
